.gallery{
    width: 90%;
    margin: 0 auto
}
.gallery__thumbs{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.gallery__thumbs a{
    display: block;
    opacity: 0.6;
}

.gallery__thumbs a.active{
    opacity: 1;
    transform: scale(1.05);
}

.gallery__thumbs a:hover{
    opacity: 1;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.gallery__thumbs a img{
    width: 200px;
}

.gallery__preview{
    position: relative;
    width: 100%;
}

.gallery__preview_close{
    width: 35px;
    height: 35px;
    background: url(/images/close.png) no-repeat;
    background-size: cover;
    filter: invert(1);
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 45px;
    cursor: pointer;
}

.view img{
    width: 100%;
    margin-top: 30px;
}

.hide{
    display: none;
}

