* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121e41; 
}
 
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container h2{
    font-size: 46px;
    padding: 40px 0;
    color: #7591df;
}

.main-list{
    background-color: #21273e;
    background-position: right;
    box-shadow: 0 0 50px -10px black;
    width: 40%;
    position: relative;
}

.main-list .list-title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2.6px;
    background-color: #020819;
    padding: 20px 0;
    color: #fff;
} 

.list {
    padding: 0 20px;
}

.task {
    padding: 15px 15px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 10px;
    background-color: #303651;
}

.task-text {
    word-wrap: break-word ;
    word-break: break-all;
    font-size: 26px;
    color: #fff;
    width: 80%;
    letter-spacing: 2.4px;
}

.text {
    color: rgb(102, 93, 93);
    text-decoration: line-through #64ce8d; 
}

.input {
    color: #7896ed;
    font-size: 18px;
    display: block;
    border: none;
    padding: 15px 10px;
    width: calc(100% - 20px);
    margin: 10px auto;
    background-color: rgba(83, 83, 85, 0.5); 
    margin: 20px 0;
    outline: none;
}

.input::placeholder {
    color: rgb(182, 182, 182);
    font-size: 18px;
}

.delete {
    width: 30px;
    height: 30px;
    font-size: 40px;
    padding-right: 10px;
    cursor: pointer;
    background-image: url(/images/trash.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 0.3;
}

.delete:hover {
    opacity: 1;
}

.clear {
    font-size: 24px;
    color: #7591df;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: right;
}

.change-text {
    font-size: 18px;
    color: #7591df;
    border: none;
    border-bottom: 1px solid rgb(53, 53, 53);
    background-color: rgba(18, 30, 65, 0.3);
    width: 80%;
    outline: transparent;
    padding: 5px 0;
}

.check {
    width: 30px;
    height: 30px;
    background-color: #21273e;
    box-shadow: 0 0 4px 0 black;
    border-radius: 2px;
    margin-right: 40px;
}

.done {
    background-color: #020819;
    background-image: url(/images/checked.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    background-color: #020819;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2.4px;
    padding: 15px 40px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 15px #7896ed;
}

.close {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(/images/close2.png) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}